extends ../layout/layout
block content

    .container
        table.table.table-hover
            thead.text-muted
                tr
                    th(scope='col') Country
                    th(scope='col') New Cases
                    th(scope='col') Total Cases
                    th(scope='col') New Recoveries
                    th(scope='col') Total Recoveries
                    th(scope='col') New Deaths 
                    th(scope='col') Total Deaths
            tbody
                each data in summary
                    each value, index in data
                        tr
                            if value['Country']
                                td= value['Country'].toLocaleString()
                                td.text-warning.font-weight-bold + !{value['NewConfirmed'].toLocaleString()}
                                td= value['TotalConfirmed'].toLocaleString()
                                td.text-success.font-weight-bold + !{value['NewRecovered'].toLocaleString()}
                                td= value['TotalRecovered'].toLocaleString()
                                td.text-danger.font-weight-bold + !{value['NewDeaths'].toLocaleString()}
                                td= value['TotalDeaths'].toLocaleString()

block js-scripts
    
    script(type='text/javascript').
        $(document).ready(() => {
            $('#nav_countries').addClass('active');
            $('#nav_home').removeClass('active');
        });